<header class="main-header">
    <nav class="main-header__nav">
        <ul class="main-header__item-list">
            <li class="main-header__item">
                <a class="main-header__item-link <%= path === '/' ? 'main-header__item-link--active' : ''%>" href="/">Shop</a>
            </li>

            <li class="main-header__item">
                <a class="main-header__item-link <%= path === '/products' ? 'main-header__item-link--active' : ''%>" href="/products">Products</a>
            </li>

            <li class="main-header__item">
                <a class="main-header__item-link <%= path === '/cart' ? 'main-header__item-link--active' : ''%>" href="/cart">Cart</a>
            </li>

            <li class="main-header__item">
                <a class="main-header__item-link <%= path === '/orders' ? 'main-header__item-link--active' : ''%>" href="/orders">Orders</a>
            </li>

            <li class="main-header__item">
                <a class="main-header__item-link <%= path === '/admin/add-product' ? 'main-header__item-link--active' : ''%>" href="/admin/add-product">Add Product</a>
            </li>

            <li class="main-header__item">
                <a class="main-header__item-link <%= path === '/admin/products' ? 'main-header__item-link--active' : ''%>" href="/admin/products">Admin Products</a>
            </li>
        </ul>
    </nav>
</header>